.img{
     width:100px;
     height:100px;
     background-color:burlywood;
}
.card{
    display: flex;
    gap:20px;
}

@media print and (orientation: landscape){
    p{
        color:red;
    }
}

@media screen and (max-width:600px){
    .card{
    display:inline-block;
    gap:20px;
}
    .img{
    background-color:red;
}
}